.section {
  width: 150vh;
  padding: 20px 40px;
}

h1 {
  text-align: center;
  margin: 70px !important;
}


p {
  font-size: 12px !important;
  text-align: justify;
}

#navbar {
  position: fixed;
  background-color: pink;
  border-bottom: .5px solid gray;
}
